<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367989657233-1tb8despriu3o6pe85hv23e2hfolnvf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367989657233-1tb8despriu3o6pe85hv23e2hfolnvf9</string>
	<key>API_KEY</key>
	<string>AIzaSyDP0HvUMenZok804k-xrUzFvoQwjcZ0rYY</string>
	<key>GCM_SENDER_ID</key>
	<string>367989657233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>wechat-dc936</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-dc936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367989657233:ios:d34933c507eb035a5af930</string>
</dict>
</plist>